In [8]:
import pandas as pd

In [9]:
sales_data = r"C:\Users\Kaleb\Pandas-Challenge\HeroesOfPymoli\Resources\purchase_data.csv"
pyMoli_df = pd.read_csv(sales_data)
pyMoli_df.head()
#show data set

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
player_demographics = pyMoli_df.loc[:,["SN", "Age", "Gender"]]
#filter by SN, Age, and Gender

In [11]:
player_demographics.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [12]:
player_demographics = player_demographics.drop_duplicates()
player_demographics.head()
# drop duplicates for unique dataset

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [13]:
#count dataset
player_count = player_demographics.count()[0]

In [14]:
player_count

576

In [41]:
#find totals for purchase analysis
unique_items = len(pyMoli_df["Item ID"].unique())
average_price = pyMoli_df["Price"].mean()
total_purchases = pyMoli_df["Purchase ID"].count()
total_revenue = pyMoli_df["Price"].sum()
summary_table_purchases = pd.DataFrame({ "Number of Unique Items": [unique_items],
                                       "Average Price": [average_price],
                                       "Total Purchases": [total_purchases],
                                       "Total Revenue": [total_revenue],
                                       })

summary_table_purchases.style.format({"Average Price": "${:,.2f}",
                                "Total Revenue": "${:,.2f}"})

In [43]:
#gender count and percentage
gender_count = player_demographics["Gender"].value_counts()
gender_percentage = gender_count/player_count*100
gender_count
summary_table_gender = pd.DataFrame({ "Total Count": gender_count,
                                    "Percentage of Players": gender_percentage
                                    })
summary_table_gender.style.format({ "Percentage of Players": "{:,.2f}%"
                                    })

In [44]:
#Age Demographics
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


pyMoli_df["Age Group"] = pd.cut(pyMoli_df["Age"],age_bins, labels=group_names)
pyMoli_df


age_grouped = pyMoli_df.groupby("Age Group")


total_count_age = age_grouped["SN"].nunique()


percentage_by_age = (total_count_age/player_count) * 100


age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})


age_demographics.index.name = None


age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [45]:
# Purchase Analysis (Age)
purchase_count_age = age_grouped["Purchase ID"].count()

avg_purchase_price_age = age_grouped["Price"].mean()

total_purchase_value = age_grouped["Price"].sum()

avg_total_purchase_per_person = total_purchase_value/player_count * 100

summary_table_age = pd.DataFrame({ "Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value": total_purchase_value,
                                 "Average Total Purchase per Person": avg_total_purchase_per_person
                                 })
summary_table_age.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                                                  })

In [51]:
#Purchasing Analysis (Gender)
purchase_count = pyMoli_df.groupby(["Gender"]).count()["Price"]
avg_purchase_price = pyMoli_df.groupby(["Gender"]).mean()["Price"]
total_purchase_value = pyMoli_df.groupby(["Gender"]).sum()["Price"]
avg_total_person = (total_purchase_value / purchase_count) 

summary_table_purchasing = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, "Total Purchase Value": total_purchase_value, "Average Total per Person": avg_total_person})
summary_table_purchasing.style.format({"Average Purchase Price": "${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}",
                                      "Average Total per Person": "${:,.2f}"
                                      })

In [53]:
# Top spenders
spend_rank = pyMoli_df.groupby("SN")

purchase_count_rank = spend_rank["Purchase ID"].count()

avg_purchase_price_rank = spend_rank["Price"].mean()

total_purchase_price_rank = spend_rank["Price"].sum()

summary_table_rank = pd.DataFrame({"Purchase Count": purchase_count_rank,
                                  "Average Purchase Price": avg_purchase_price_rank,
                                  "Total Purchase Value": total_purchase_price_rank
                                  })
formatted_table = summary_table_rank.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_table.style.format({"Average Purchase Price":"${:,.2f}",
                             "Total Purchase Value": "${:,.2f}"})

In [54]:
# sort most popular item
items = pyMoli_df[["Item ID", "Item Name", "Price"]]
item_rank = items.groupby(["Item ID", "Item Name"])

purchase_count_item = item_rank["Price"].count()

item_Price = item_rank["Price"].count()
total_purchase_value = (item_rank["Price"].sum())
item_price = total_purchase_value/purchase_count_item

most_popular_item = pd.DataFrame({ "Purchase Count": purchase_count_item,
                                 "Item Price": item_price,
                                 "Total Purchase Value": total_purchase_value
                                 })
formatted_table_items = most_popular_item.sort_values(["Purchase Count"], ascending=False).head()

formatted_table_items.style.format({"Item Price": "${:,.2f}",
                                   "Total Purchase Value": "${:,.2f}"})

In [57]:
# sort most profitable items
popular_formatted = most_popular_item.sort_values(["Total Purchase Value"],
                                                  ascending=False).head()
popular_formatted.style.format({"Total Purchase Value": "${:,.2f}",
                               "Item Price": "${:,.2f}"})

In [ ]:
# We can deduce a few conclusions from this data
# firstly, The primary demographics is male, ages 20-24
# Final Critic is the most popular weapon and has a net revenue of $59.99
# Final Critic is also the most profitable item.